RewriteEngine On
RewriteCond %{SERVER_PORT} 80     
RewriteCond %{HTTP_HOST} ^cheapflightsfromtampa\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.cheapflightsfromtampa\.com$
RewriteRule ^(.*)$ https://cheapflightsfromtampa.com/$1 [R,L]