// Change placeholder font color and fade out on click
[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.2s 0.2s ease;
  opacity: 0;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #ddd !important;
}

[placeholder]:focus:-moz-placeholder {
  transition: opacity 0.2s 0.2s ease;
  opacity: 0;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #ddd !important;
}

[placeholder]:focus::-moz-placeholder {
  transition: opacity 0.2s 0.2s ease;
  opacity: 0;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #ddd !important;
}

[placeholder]:focus:-ms-input-placeholder {
  transition: opacity 0.2s 0.2s ease;
  opacity: 0;
}
