/*_buttons.scss */

button {
	border: 5px solid $primary-blue;
	padding: 10px;
	background: lighten($primary-blue, 10%);	
	color: $white;
	border-radius: $base-border-radius;
	margin: 15px 0px;
	width: 85%;
	text-transform: uppercase;
	font-size: $base-font-size;
	letter-spacing: 0.05em;
	@include transition(all);
}

.blog button {
	@extend button;
	background: lighten($primary-blue, 10%);
	width: 250px;	
}

.sample-flight {
	text-align: center;
}

button:hover {
	background: $primary-blue;	
	border: 5px solid $primary-blue;
}

.blog button:hover {
	background: $primary-blue;
	border: 5px solid $primary-blue;		
}

button a, button a:hover {
	color: $white;
}

.single-learn-premium {
	text-align: center;
}

/* commented out 6/29 - don't think is needed
.premium-jump button {
	width: 60%;
	margin-top: 50px;
	border: 5px solid $tertiary-green;
	padding: 10px !important;
	background: lighten($tertiary-green, 10%);	
	color: $white !important;
	border-radius: $base-border-radius;
	margin: 15px 0px !important;
	text-transform: uppercase;	
	letter-spacing: 0.05em;
	@include transition(all);
	
}

.premium-jump button:hover {
	background: $tertiary-green;	
	border: 5px solid $tertiary-green;
}*/

.premium-page button {
	width: 320px;
	margin-top: 50px;
	border: 5px solid $tertiary-green;
	padding: 10px !important;
	background: lighten($tertiary-green, 10%);	
	color: $white !important;
	border-radius: $base-border-radius;
	margin: 15px 0px !important;
	text-transform: uppercase;	
	letter-spacing: 0.05em;
	@include transition(all);
}

.premium-page button:hover {
	background: $tertiary-green;	
	border: 5px solid $tertiary-green;
}

.home-premium-button {
	width: 60%;
	margin: 0 auto;
}

/* Mailchimp button */
#mc_embed_signup input.email {
	margin: 0 auto 10px !important;
    min-height: 50px !important;
    text-align: center;
    font-size: $base-font-size !important;
    border: 6px solid $primary-grey !important;
    width: 80% !important;
}

/*Single Mailchimp form*/
.single #mc_embed_signup input.email {
	width: 100% !important;
}

/* About page Mailchimp form */
#mc_embed_signup input.about {
    width: 100% !important;
}

.about-free-signup #mc_embed_signup form {
	padding-left: 0 !important;
}

.about #mc-embedded-subscribe {
	width: 100% !important;
}

#placeholder {
	color: #222 !important;
}

#mc_embed_signup form {
	text-align: center !important;
}

#mc-embedded-subscribe {
	border: 5px solid $tertiary-green !important;
	padding: 10px !important;
	background: lighten($tertiary-green, 10%) !important;	
	color: $white !important;
	border-radius: $base-border-radius !important;
	margin: 15px 0px !important;
	width: 50% !important;
	text-transform: uppercase;	
	letter-spacing: 0.05em;
	@include transition(all);
}

.about-sign-up #mc-embedded-subscribe {
	width: 80% !important;
}

.view-recent-deals button {
	width: 300px;
}

#mc-embedded-subscribe:hover {
	background: $tertiary-green !important;	
	border: 5px solid $tertiary-green !important;
}

/* MemberPress button */
.mepr-submit {
	border: 5px solid $primary-blue;
	padding: 10px;
	background: lighten($primary-blue, 10%);	
	color: $white;
	border-radius: $base-border-radius;
	margin: 15px 0px;
	width: 100%;
	text-transform: uppercase;
	font-size: $base-font-size;
	letter-spacing: 0.05em;
	@include transition(all);
}

.mepr-submit:hover {
	background: $primary-blue;	
	border: 5px solid $primary-blue;
}

@media(max-width:992px){
	#mc_embed_signup input.email {
		width: 100% !important;		
	}
	
	#mc-embedded-subscribe {
		width: 100% !important;
	}
	
	.premium-jump button {
		width: 100%;
	}
	
	.home-premium-button {
		width: 100%;
	}
}